*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.quiz-header{
    display:inline;
}
body{
    text-align: center;
    background-color:#464249;
}
.heading{
    background-color:#464249;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    height: 110px;
    color: #ECF0F1;
}

.creditScore_logo{
    height: 80px;
    width: 80px;
    border-radius: 80%;
    vertical-align: middle;
}

.totalQuizQuestions, .number-of-question, .scoreTracker{
    font-size: 15px;
}
.question{
    text-align: left;
    font-weight: bold;
}

#q_{
    text-align: right;  
}

.creditScore-quizApp-form{
    display: flex;
    margin-top: 10px;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 10px;
    background-color:white;

}
.quiz-content{
    width: 80%;
    padding: 0;
    padding-top:10px;
    margin-top:5px;
    margin: 0px auto;
    border: none;
    margin-bottom:10px;
}

.choices{
    text-align:left;
    padding:0px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

p{
    padding: 8px;
}

.wrong-msg{
    color: red;
}

.correct-msg{
    color: green;
}

.quizformClipArt{
    padding:0px;
    width: 150px;
    height: 150px;
    max-width: 100%;
    height:auto;
}

button{
    box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0369c2 100%);
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
    padding:9px 23px;
	text-decoration:none;
    text-shadow:0px 1px 0px #263666;
    width: 400px;
}

.finalButton{
    box-shadow:inset 0px -3px 7px 0px #ff9029;
    background:linear-gradient(to bottom, #e8f92d 5%, #fae206 100%);
    color:#1d0303;
}

@media all and (max-width: 645px){
    .creditScore-quizApp-form{
        margin-left: 3%;
        margin-right: 3%;
    }
    .quiz-title{
        font-size: 15px;
        padding:0;
    }

}
@media all and (max-width: 520px){
    button{
        width: 100%;
    }

    .creditScore-quizApp-form{
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }
    .question, .choices{
        font-size: 15px;
    }
}
@media all and (max-width: 366px){
    .heading{
        height: 80%;
    }
    .quiz-header{
        font-size: 16px;
    }
    .quiz-title{
        font-size: 15px;
    }    
    .creditScore_logo{
        height: 50px;
        width: 50px;
    }
    #q_, .question, .choices{
        font-size: 12px;
    }
    .totalQuizQuestions, .scoreTracker{
        font-size: small;
    }
}
@media all and (max-width: 320px){    
    .quiz-title{
        font-size: 15px;
        padding-bottom: 5px;
    }  
    
    button{
        width: 80%;
        font-size: smaller;
    }

    .creditScore_logo{
        max-width: 100%;
        height:auto;
    }
    .totalQuizQuestions, .scoreTracker{
        font-size: smaller;
    }
    .creditScore-quizApp-form, .quiz-content{
        width: 95%;
        align-content: center;
    }   
}